
body {
	background: #3b3b39;
	color: #cac8bf;
}

#siteHeading {
	cursor: pointer;
}

.resultCard {
	margin-bottom: 4px;
}

.resultCard img {
	min-height: 100px;
	min-width: 100px;
	max-width: 95%;
	border: 1px solid black;
	clear: both;
}

#filterEcho {
	display: none;
}

.filterTextBox {
	margin: 0px 0px 8px 0px;
	width: 90%;
	max-width: 500px;
}

a {
	color: #cac8bf;
}

.filterMenu {
	max-height: 0;
	overflow: hidden;
	background-color: #2c2c2c;
	padding: 0 10px;
	border: 1px solid #444;
	border-radius: 5px;
	margin-bottom: 10px;
	opacity: 0;
	transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.filterMenu.show {
	max-height: 500px;
	opacity: 1;
	padding: 10px;
}

.filterInput {
	width: 100%;
	margin-bottom: 10px;
}

#toggleFilterMenuButton {
	margin-bottom: 10px;
}

pre {
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
    border-radius: 0 !important;
}
